@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f3f6;
    font-family: 'Roboto', sans-serif;
}

/* hover navbar dropdown arrow */
.arrow_down {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
}
/* hover navbar dropdown arrow */

/* login signup sidebar bg image */
.loginSidebar {
    background-image: url("https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/login_img_c4a81e.png");
    background-position: center 85%;
    background-repeat: no-repeat;
}
/* login signup sidebar bg image */
.bg-primary-blue{
  background-color: #2874f0;

}
.text-primary-blue{
  color: #2874f0;
}
.bg-primary-orange{
  background-color:#fb641b;
}
.text-primary-orange{
  color:#fb641b;
}
.bg-primary-darkBlue{
  background-color:#172337;
}
.text-primary-darkBlue{
  color:#172337;
}
.bg-primary-yellow{
  background-color:#ff9f00;
}
.text-primary-yellow{
  color:#ff9f00;
}
.bg-primary-green{
  background-color:#25a240;
}
.text-primary-green{
  color:#25a240;
}
